/* SASSどうやって実装するのかわからないので調べること */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	width: 100vw;
	height: 100vh;
	background-color: #EEE;
}

.top-page {
	padding: 20px;
}

.post-btn {
	margin-bottom: 20px;
}

.top-page table {
	background-color: #FFF;
	border: 3px solid #FFF;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
.top-page table th {
	background-color: #AAA;
	color: #FFF;
	text-align: center;
	padding: 3px;
	border: 3px solid #FFF;
}
.top-page table td {
	text-align: center;
	padding: 3px;
	border: 3px solid #FFF;
}
.calendar {
	margin-bottom: 10px;
}

.sort-btn {
	margin-left: 10px;
}