<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>コメント投稿画面</title>
	</head>
	<body>
		<h2>コメント作成画面</h2>

		<div class="reportData">
			ID: [<span th:text="${reportData.id}"></span>] の投稿に返信を行います。<br><br>
		</div>

		<form method="post" action="/comment" th:object="${formModel}">
			<table border="1">
				<tr>
					<td>
						<input type="hidden" name="reportId" th:value="${reportData.id}" />
						<input type="text" name="content" th:value="*{content}" size="20" maxlength="200" />
					</td>
					<td><input type="submit" value="コメント投稿" /></td>
				</tr>
			</table>
		</form>
		<br><br>
		<form action="/">
			<input type="submit" value="戻る" />
		</form>

	</body>
</html>