<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body>
		<a href="/new"><button type="button">投稿編集</button></a>
		<table border="1">
			<tr>
				<th width="100px">ID</th>
				<th width="260px">内容</th>
			</tr>
			<tr th:each="content : ${content}">
				<td th:text="${content.id}">
				<td>
					<form method="post" action="/edit" th:object="${formModel}">
						<input type="hidden" name="reportId" th:value="${content.id}" />
						<input type="text" name="content" th:value="${content.content}" size="20" maxlength="200" />
						<input type="submit" value="更新" />
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>