<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body>
		<h2>コメント編集</h2>
		<table border="1">
			<tr>
				<th width="100px">ID</th>
				<th width="260px">内容</th>
			</tr>
			<tr th:each="comment : ${comment}">
				<td th:text="${comment.id}">
				<td>
					<form method="post" action="/editComment" th:object="${formModel}">
						<input type="hidden" name="commentId" th:value="${comment.id}" />
						<input type="hidden" name="reportId" th:value="${reportId}" />
						<input type="text" name="content" th:value="${comment.content}" size="20" maxlength="200" />
						<input type="submit" value="更新" />
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>

<!-- Hidden で送る必要はないらしいので後ほど修正する -->