<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>コメント投稿画面</title>
	</head>
	<body>
		ID: [<span th:text="${content.id}"></span>] の詳細確認画面です。<br><br>

		<div class="report-area">
			<table border="1">
				<tr>
					<td width="30px" th:text="${content.id}"></td>
					<td th:text="${content.content}"></td>
				</tr>
			</table>
		</div>

		<br>

		<div class="comment-area">
			<table border="1">
				<tr>
					<th>ID</th>
					<th>内容</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
				<tr th:each="comment : ${comments}" th:if="${comment.reportId == content.id}">
					<td th:text="${comment.id}"></td>
					<td th:text="${comment.content}"></td>
					<td>
						<form method="get" action="/editComment">
						<input type="hidden" name="commentId" th:value="${comment.id}" />
						<input type="hidden" name="reportId" th:value="${content.id}" />
						<input type="submit" value="編集" />
						</form>
					</td>
					<td>
					<form method="get" action="/deleteComment">
						<input type="hidden" name="commentId" th:value="${comment.id}" />
						<input type="submit" value="削除" />
						</form>
					</td>
				</tr>
			</table>
		</div>

		<br><br>
		<form action="/">
			<input type="submit" value="戻る" />
		</form>

	</body>
</html>