<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>AnonymousBBS</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" >
	</head>
	<body>
		<main>
			<div class="top-page">
				<a href="/"><button type="button" class='post-btn btn btn-success btn-sm'>　トップ　</button></a>
				<a href="/new"><button type="button" class='post-btn btn btn-success btn-sm'>　新規投稿　</button></a>

				<div class="calendar">
					<form action="./" method="get">
						<span>
							日付：
							<input type="date" name="startDate" th:value="${startDate}"/>
							<span> ～ </span>
							<input type="date" name="endDate" />
							<input type="submit" class="btn btn-success btn-sm sort-btn" value="　絞り込み　" />
						</span>
					</form>
				</div>

				<table class="table">
					<tr>
						<th width="30px">ID</th>
						<th width="500px">内容</th>
						<th>投稿時間</th>
						<th>更新時間</th>
						<th>詳細</th>
						<th>返信</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
					<tr th:each="content : ${contents}">
						<td th:text="${content.id}">
						<td th:text="${content.content}">
						<td th:text="${content.createdDate}">
						<td th:text="${content.updatedDate}">
						<td>
							<form method="get" action="/show">
								<input type="hidden" name="reportId" th:value="${content.id}" />
								<input type="submit" class="btn btn-outline-success btn-sm w-100" value="詳細" />
							</form>
						</td>
						<td>
							<form method="get" action="/comment">
								<input type="hidden" name="reportId" th:value="${content.id}" />
								<input type="submit" class="btn btn-outline-success btn-sm w-100" value="返信する" />
							</form>
						</td>
						<td>
							<form method="get" action="/edit">
								<input type="hidden" name="reportId" th:value="${content.id}" />
								<input type="submit" class="btn btn-outline-success btn-sm w-100" value="編集" />
							</form>
						</td>
						<td>
							<form method="post" action="/delete">
								<input type="hidden" name="reportId" th:value="${content.id}" />
								<input type="submit" class="btn btn-outline-danger btn-sm w-100" value="削除" />
							</form>
						</td>
					</tr>

				</table>
			</div>
		</main>
		<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	</body>
</html>